* {
  margin: 0;
  padding: 0;
}
main {
  text-align: center;
  padding: 1rem;
  background: black;
}
main > p {
  letter-spacing: 2px;
  font-size: 1.4rem;
  color: #555;
  margin-bottom: 3rem;
}
.contact-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1rem;
}
.contact-info h1 {
  font-size: 1.9rem;
  color: #555;
  margin-bottom: 15px;
}
.contact-about {
  line-height: 1.9;
  width: 100%;
  align-items: center;
  text-align: center;
}
.contact-about p > i {
  width: 50px;
  height: 50px;
  line-height: 50px;
  font-size: 1.4rem;
  color: #555;
  border-radius: 50%;
  border: 3px solid skyblue;
  text-align: center;
}
.contact-about h1 {
  color: #555;
  font-size: 1.9rem;
  margin-bottom: 15px;
}
.contact-about p {
  font-size: 1.2rem;
  color: white;
  letter-spacing: 1.5px;
}
input {
  padding: 10px;
  margin: 5px;
  outline: None;
  border: 1px solid #555;
  background: black;
  width: 80%;
}
textarea {
  padding: 10px;
  margin: 5px;
  width: 80%;
  border: 1px solid #555;
  background: black;
  outline: None;
}
.btn3 {
  padding: 15px;
  margin: 5px;
  outline: none;
  border: none;
  font-size: 1.2rem;
  font-weight: bold;
  width: 80%;
  color: white;
  background: black;
  border: 3px solid skyblue;
  transition: 0.4s ease;
}
.btn3:hover {
  background: white;
  color: black;
}
main > h1 {
  color: skyblue;
  font-size: 2.3rem;
  font-weight: 500;
  margin-bottom: 1rem;
}
/*Resposive banana ka lia*/
@media (max-width: 650px) {
  main {
    font-size: 125%;
    min-height: calc(70vh - 100px);
  }
  .contact-container {
    grid-template-columns: repeat(1, 1fr);
  }
  .contact-about h1 {
    font-size: 1.4rem;
  }
  .contact-info h1 {
    font-size: 1.4rem;
  }
  .contact-container p {
    font-size: 1rem;
  }
  .contact-container h1 {
    font-size: 1.4rem;
  }
  .contact-about p > i {
    font-size: 0.9rem;
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
  }
}
